@import "../../scss/variables";

#main-chat-wrapper {
    .main-conversation {
        &_search-bar {
            height: 18vh;
        }

        &_list-conversation {
            height: 80vh;
            padding-top: 2rem;
        }
    }
    .main_chat {
        display: flex;
        flex-direction: column;

        &-header {
            height: 9vh;
        }

        &-body {
            height: 78vh;
            background-color: yellow;
        }

        &-footer {
            height: 13vh;
            background-color: green;
        }
    }

    .main-info {
        height: 100vh;
    }
}

.divider-layout {
    height: 2vh;
    padding: 0 1rem;
    display: flex;
    align-items: flex-end;

    // background-color: red;
    > div {
        height: 0.5px;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.2);
    }
}
