.type-pin-message {
    &_HTML,
    &_IMAGE,
    &_VIDEO {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
}

.type-pin-message_des_FILE {
    display: flex;
    flex-direction: row;
    align-items: center;

    .file_info-icon {
        max-height: 25px;
        max-width: 20px;
    }
}
