.login-main-page{

    background-color: #e9ecf3;
    padding: 20px;
  
    height: 80vh;
  
    .main{
  
         background-color: white;
         width: 60%;
         padding: 20px;
         margin: 0 auto;
    }
  
  }