.otp-page{

     background-color: #e9ecf3;
    padding: 150px;
    background-image: url('./images/background.png') ;
    height: 100vh;
  
    .main{
  

     background-color: white;
     width: 40%;
     height: auto;
     padding: 10px;
     margin: 0 auto;
    }
  
  
  }