@import "../../../../scss/variables";

#nutshell-pin-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0.3rem 2rem;
    background: #fff;
    border-bottom: 0.05px solid rgba(0, 0, 0, 0.1);
}

.nutshell-pin-container {
    &_left {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    &_messsage {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-left: 1rem;
    }
    &_right {
        button .nutshell-pin-container_button-interact {
            font-size: 1.3rem;
            padding: 0.2rem 1rem;
            border-radius: 50%;
        }
    }

    &_icon {
        font-size: 2rem;
    }

    &_title {
        font-weight: 500;
        font-size: 1.3rem;
    }

    &_detail {
        font-size: 1.3rem;
    }
    &_button-interact {
        height: 3rem;
        width: 3rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        transition: 0.2s;
        border: none;
        background: #fff;
        svg {
            font-size: 2rem;
        }
    }
    &_button-interact:hover {
        background: $grey-300;
        cursor: pointer;
    }
}
