.link-preview-custom {
    .LowerContainer {
        .Title {
            font-size: 1.4rem;
        }
        .Description {
            font-size: 1.3rem;
        }
        .SiteDetails {
            font-size: 1.3rem;
        }
    }
}
