@import "../../../../scss/variables";

$icon-demention: 48px;

#sidebar_wrapper {
    height: 100%;
    background: #4c92ff;
    display: flex;
    flex-direction: column;

    .user-icon {
        height: 10vh;
        display: flex;
        justify-content: center;
        align-items: center;
        &_img {
            height: $icon-demention;
            width: $icon-demention;
            object-fit: cover;
            background-position: center center;
            border-radius: 50%;
            overflow: hidden;
            cursor: pointer;
            img {
                max-width: 100%;
                border-radius: 50%;
            }
        }
    }

    .sidebar-main {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 90vh;

        .sidebar_nav {
            padding: 2rem 0;
            list-style: none;
            display: flex;
            flex-direction: column;
            align-items: center;

            &_item {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;

                transition: 0.2s;
                cursor: pointer;

                &--icon {
                    padding: 1.4rem 0;
                    color: $white-color;
                    .anticon {
                        color: $white-color;
                        font-size: 2.5rem;
                    }
                }
            }

            &_item:hover {
                background: $blue-light;
                color: #fff;
            }
        }
    }
}
