$blue-color: blue;
$white-color: #ffffff;
$gradident-blue: linear-gradient(to-bottom, #408dfd, #0068ff);
$strong-blue: #396edd;
$blue-light: #58aeff;
$light-grey: #e8eaef;
$thumbnail-text: #87929e;
$light-grey: #f4f5f7;
$normal-text: #606c7a;
$black-color: #282a35;
$red-color: #de433e;
